/* CSS declarations go here */
*{
    padding: 0;
    margin: 0;
    outline: 0 none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
    display: block;
}
a:hover, a:focus{
    text-decoration: none;
    color: #fff;
}
body{
    font-size: 16px;
    min-height: 100vh;
}
.header-container .logo-container a{
    font-size: 50px;
    line-height: 1em;
    color: #1d993d;
    font-style: italic;
}
.header-container .logo-container{
    padding: 4px 0;
}
.header-container .logo-container img{
    width: 60%;
}
nav{
    background-color: #fff;
    box-shadow: none;
    height: auto;
    min-height: auto;
    line-height: 16px;
}
.dropdown-content{
    box-shadow: none;
    top: 57px !important;
    width: 120px !important;
    right: 54px !important;
    font-size: 16px !important;
    border-radius: 4px;
}
nav ul a, .dropdown-content li a{
    color: #807e7e;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 20px;
}
nav .nav-wrapper{
    padding: 0 90px;
}
.navbar-fixed{
    height: 75px;
}
/* nav ul li:hover{
    background-color: #ebf6e5;
    
} */
nav ul a:hover{
    /* border-bottom: 4px solid #1d993d; */
    background-color: #ebf6e5;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected{
    background-color: transparent;
}
nav ul li{
    padding: 2px;
}
nav ul a{
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
}
nav ul a.aboutus{
    background: #4d87ec;
}
nav ul a.aboutus:hover, nav ul a.aboutus:focus{
    background: #f3bd42;
    text-decoration: none;
    color: #fff;
}
nav ul a.whatwedo{
    background: #da5040;
}
nav ul a.whatwedo:hover, nav ul a.whatwedo:focus{
    background: #56a55c;
    text-decoration: none;
    color: #fff;
}
nav ul a.howwedo{
    background: #f3bd42;
}
nav ul a.howwedo:hover, nav ul a.howwedo:focus{
    background: #4d87ec;
    text-decoration: none;
    color: #fff;
}
nav ul a.faq{
    background: #56a55c;
}
nav ul a.faq:hover, nav ul a.faq:focus{
    background: #da5040;
    text-decoration: none;
    color: #fff;
}
nav ul a.gallery{
    background: #4d87ec;
}
nav ul a.gallery:hover, nav ul a.gallery:focus{
    background: #f3bd42;
    text-decoration: none;
    color: #fff;
}
nav ul a.donate{
    background: #56a55c; 
}
nav ul a.donate:hover, nav ul a:focus{
    background: #f3bd42;
    text-decoration: none;
    color: #fff; 
}
ul.dropdown-content{
    background-color: #ebf6e5;
    width: auto !important;
    min-width: auto;
    max-height: auto;
    overflow-y: none;
    padding: 5px 0;
}
.dropdown-content li > a{
    padding: 5px 0 !important;
}
.dropdown-content li{
    min-height: auto;
    line-height: 1em;
}
.text-wrap h4{
    line-height: 20px;
    margin-top: 0;
}
.h4, .h5, .h6, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
.homepage-common-wrap h4{
    font-size: 20px;
    line-height: 1em;
    font-weight: bold;
    font-family: "Helvetica Neue";
    color: #3aaaf5;
}
.homepage-common-wrap p{
    margin: 0;
}
.homepage-common-wrap p, .homepage-common-wrap ul{
    line-height: 1.5em;
    color: #807e7e;
    text-align: justify;
    font-size: 14px;
}
.para-wrap{
    padding-bottom: 20px;
}
.homepage-common-wrap{
    padding: 20px 90px; 
    width: 100%;
    float: left;
}
.homepage-common-wrap a, .homepage-common-wrap p.heading-txt{
    color: #2cada8;
    font-size: 14px;
}

.text-wrap{
    width: 100%;
    float: left;
    position: absolute;
    top: 20%;
    padding: 0 1%;
    left: 0;
    background:#56a55c;
    color: #fff;
    width: 545px;
    border-radius: 10px;
}
.text-wrap-common{
    width: 33.33%;
    float: left;
    margin-right: 4%;
}
.text-wrap-common p{
    font-size: 14px;
    line-height: 22px;
}
.img-wrap, .slider-wrap{
    position: relative;
}
.img-wrap img{
    height: 240px;
    width: 100%;
}
.socialsites-wrap img{
    display: inline-block;
    padding-right: 5px;
}
.homepage-common-wrap h5{
    font-size: 16px;
    color: #2cada8;
    font-weight: bold;
}
.footer-container{
    bottom: 0;
    left: 0;
}
.collapsible-header{
    border-bottom: none;
    background: #ebf6e5;
    color: #807e7e;
    font-weight: bold;
    font-size: 14px
}
.collapsible-body{
    border-bottom: none;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.35);
    font-size: 12px;
    padding: 15px;
}
.collapsible{
    border: none;
    box-shadow: none;
}
.collapsible li{
    margin-bottom: 20px;
}
.text-wrap span{
    font-size: 14px;
    /* color: #000; */
    font-style: normal;
}
.mission-objective-wrap{
    background: #ebf6e5;
    width: 100%;
    float: left;
}
/* .text-wrap h4{
    color: #012b72
} */
.gallery-wrap, .memeber-wrap{
    float: left;
    width: 100%;
}
.gallery-img-wrap, .memeber-img-wrap{
    width: 23%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
/* .gallery-img-wrap:last-child{
    margin-right: 0;
} */
.gallery-img-wrap img, .memeber-img-wrap img {
    border-radius: 10px;
}
.memeber-wrap p{
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}
.right{
    margin-top: 20px;
}
.section-wrap{
    padding-bottom: 20px;
}